* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

//Navigations indhold
.navbar-top{
	width: 100%;
	height: 90px;
	background-color: #1f73ba;
}

.navbar-logo{
	position: relative;
	height: 75px;
	width: 75px;
	margin-left: auto;
	margin-right: auto;
	top: 10px;
}

.navbar{
	padding-left: 10%;
	padding-right: 10%;
}

// Footer indhold
.footer {
	width: 100%;
	height: auto;
	line-height: 60px;
	background-color: #1f73ba;
}

.footer-TopLinks{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.footer-BottomLinks{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.footer-logo
{
	height: 50px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

hr.footer-line{
	border: 1px solid white;
}

hr.card-heading-line{
	border: 1px solid black;
}

.footer-text-bottom{
	font-size: 14px;
}

.footer-copyright
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 14px;
}

a{
	text-decoration: none;
}


//Fjernelse af content
.card-Container-Pc{
	display: none;
}

.carousel-content-wrapper-pc{
	display: none;
}



//vejr kort
.card-title{
	margin-right: auto;
	margin-left: auto;
}

.card-img-top{
	width: 65px;
	height: 65px;
	margin-right: auto;
	margin-left: auto;
}

.card-img-bottom{
	height: 20px;
	width: 20px;
}

.card-img-wind{
	height: 50px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
}

.card .btn{
	height: 75px;
}

.card .btn span{
	display: block;
	padding-top: 16px;
	font-size: 16px;
}

.card-Container-Temp{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.card-heading-wrapper{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

//Cookies Tekst
.cookies-content-wrapper{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

//Forside carousel
.carousel-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.carousel-content-wrapper{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.carousel-control-next{
	width: 25px;
	color: #1f73ba;
	background-color: #1f73ba;
	border: none;
}

.carousel-control-prev{
	width: 25px;
	color: #1f73ba;
	background-color: #1f73ba;
	border: none;
}

.carousel-content-wrapper-tablet{
	display: none;
}

.carousel-control-next{
	background-color: white;
}

.carousel-control-prev{
	background-color: white;
}

.weathermap-content-wrap{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.cities-content-wrapper{
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.flex-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.city-image {
	height: 32px;
	width: 32px;
}

.city-image2{
	height: 32px;
	width: 32px;
}


.footer-wrapper{
	width: 100%;
	background-color: #1f73ba;
}

//Cookies

.nk-cookie-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	border-radius: 0;
	display: none;
}

//News
.news-text{
	width: 65%;
	margin-right: auto;
	margin-left: auto;
}

//App
.app-content-wrapper{
	width: 100%;
	height: 80px;
	background-color: black;
}

.app-content{
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
}

.app-content-text{
	padding-right: 20px;
	padding-top: 10px;
}

.app-content-wrapper{
	width: 100%;
	height: 80px;
	background-color: black;
}

.app-content-text{
	display: none;
}

.city-text-content{
	font-size: x-small;
}

//Text
.dailyWeather-Text{
	font-size: 16px;
	font-family: Roboto, sans-serif;

}

//Daily Weather
.dailyWeather-Image{
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
//Marts Nyheder
.Marts-info{
	padding: 20px;
}

.Marts-info2{
	padding: 20px;
}

.varsel-overskrift{
	padding: 20px;
}
//Varsler
.advarsel1{
	margin-left: auto;
	margin-right: auto;
}
.advarsel2{
	margin-left: auto;
	margin-right: auto;
}
.advarsel3{
	margin-left: auto;
	margin-right: auto;
}
.advarsel4{
	margin-left: auto;
	margin-right: auto;
}

.varsel-info{
	display: none;
}

//Wrapper for alt content
.mainContent-content-wrap{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

//All News
.news-Card-Text{
	font-size: 16px !important;
}

.btn-allNews{
	width: 100%;
}

.btn-allNews > span{
	font-size: 16px !important;
	margin-top: auto;
	margin-bottom: auto;
}

.news-Card-Text{
	min-height: 85px;
	max-height: 85px;
}

//Tablet version
@media screen and (min-width: 768px) {

	.footer-TopLinks{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	.footer-BottomLinks{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 50%;
		margin-right: auto;
		margin-left: auto;
	}

	.card-Container-Pc{
		display: none;
	}

	.carousel-content-wrapper-tablet{
		max-width: 1023px;
		margin-left: auto;
		margin-right: auto;
	}

	.carousel-control-next{
		width: 50px;
	}

	.carousel-control-prev{
		width: 50px;
	}

	.carousel-content-wrapper-tablet{
		display: inline;
	}
	.carousel-content-wrapper{
		display: none;
	}

	.card-Container-Pc{
		display: none;
	}

	.carousel-content-wrapper-tablet{
		max-width: 1023px;
		margin-left: auto;
		margin-right: auto;
	}

	.carousel-control-next{
		width: 50px;
	}

	.carousel-control-prev{
		width: 50px;
	}

	.carousel-content-wrapper-tablet{
		display: inline;
	}
	.carousel-content-wrapper{
		display: none;
	}

	.app-content{
		max-width: 1023px;
	}

	.app-content-text{
		display: inline;
	}

	.mainContent-content-wrap{
		max-width: 1023px;
	}

	.btn-allNews > span{
		font-size: 16px;
		margin-top: auto;
		margin-bottom: auto;
	}

	.btn-allNews > span{
		font-size: 18px !important;
	}

	.city-text-content{
		font-size: medium;
	}
}


//Laptop/Desktop version
@media screen and (min-width: 1024px) {

	.navbar{
		max-width: 1400px;
		margin-right: auto;
		margin-left: auto;
	}

	.navbar-wrapper{
		width: 100%;
		background-color: #1f73ba;
	}

	.footer{
		max-width: 1400px;
		margin-right: auto;
		margin-left: auto;
	}

	.footer-TopLinks{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 50%;
		margin-right: auto;
		margin-left: auto;
	}

	.footer-BottomLinks{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 40%;
		margin-right: auto;
		margin-left: auto;
	}

	//Vejr Cards
	.card-Container-Pc{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 80%;
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}

	.card-title{
		margin-right: auto;
		margin-left: auto;
	}

	.card-Container-Temp{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.card .btn{
		height: 75px;
	}

	.card .btn span{
		display: block;
		padding-top: 16px;
		font-size: 16px;
	}

	.card-heading-wrapper{
		width: 80%;
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}

	.cookies-content-wrapper{
		width: 80%;
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}

	.carousel-fixed-width{
		width: 80%;
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}

	.carousel-content-wrapper-pc{
		display: inline;
		width: 80%;
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}

	.carousel-content-wrapper{
		display: none;
	}

	.carousel-content-wrapper-tablet{
		display: none;
	}
	.news-wrapper{
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}

	.app-content{
		max-width: 1024px;
	}

	.image-content-center{
		width: 80%;
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}

	.dailyWeather-Image{
		width: 1024px;
		height: 299px;
	}

	.varsel-info{
		padding: 20px;
	}

	.varsel-info2{
		padding: 100px;
	}
	.advarsel1 {
		margin-right: auto;
		margin-left: auto;
	}

	.advarsel2 {
		margin-right: auto;
		margin-left: auto;
	}

	.advarsel3 {
		margin-right: auto;
		margin-left: auto;
	}

	.advarsel4 {
		margin-right: auto;
		margin-left: auto;
	}

	.varsel-overskrift {
		margin-left: 20px;
		margin-top: 30px;
	}
	.varsel-overskrift2{
		margin-left: 20px;
		margin-top: 30px;
	}
	.mainContent-content-wrap{
		max-width: 1024px;
	}

	.btn-allNews > span{
		font-size: 20px !important;
	}

	.news-Card-Text{
		font-size: 16px !important;
	}

	.varsel-info{
		display: inline;
	}
	.varsel-info2{
		display: none;
	}

	//Nyheder-marts måned/

	.Marts-info{
		padding: 20px;
	}

	Marts-info2{
		padding: 20px;
	}

}